<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cadet checkin service(42 api)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">42 체크인 서비스</h3>
                    <hr class="login-hr">
                    <p class="subtitle has-text-black">체크인하려면 먼저 로그인해주세요</p>
                    <div class="box">
                            <a href="{% url 'cadet:code' %}" class="button is-block is-large is-fullwidth">42 계정으로 로그인 <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
